PROJECT=whiplash
DEPLOY_ENV=dev  # dev, prod, staging
AWS_REGION=eu-west-2
AWS_PROFILE=soni-1214
PORT=3000
APP_TYPE=frontend   # frontend, backend
TLS_ENABLED=true
HOSTED_ZONE_NAME=alb.soni-doing-whiplash.com
CERTIFICATE_ARN=arn:aws:acm:eu-west-2:<aws-account-id>:certificate/xxxxxxxxxxxxxx
